.item {
    display: inline-table;
    align-items: center;
    margin: 10px;
    padding: 20px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
  }

.item_image {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: var(--shadow-base);
    transition: box-shadow .3s var(--animation-base);
}

.item_image:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 12%);
}