.card {
    flex: 1 1 301px;
    flex-direction: column;
    overflow: hidden;
    margin: 0 0 40px;
    padding: 0 20px 40px;
    min-height: 220px;
    border-bottom: 10px solid #eaeff1;
    background-size: cover;
}

.card,
.card:hover {
    border-bottom-color: color-mod(var(--darkmode) l(+8%));
}